@rendermode InteractiveAuto
@* @rendermode InteractiveServer *@
@* @rendermode InteractiveWebAssembly *@

@* ReSharper disable once CSharpWarnings::CS8974 *@
<form onsubmit="@Submit">

    <h3>Lira</h3>

    <input type="@InputTypes.Text"
           id="username"
           placeholder="Username"
           value="@Username"
           @oninput="@(e => Username = e.Value?.ToString()
                ?? string.Empty
           )"
           Required
    />

    <input type="@InputTypes.Password"
           id="password"
           placeholder="Password"
           @bind="@Password"
           required
    />

    <ConfirmButton Text="Login"
                   Type="@InputTypes.Submit"
    />

    @* Username: @Username *@

    <img src="img/logo.svg"
         alt="Logo"
         class="logo"
    />
</form>
