@rendermode InteractiveServer

@namespace Lira.Ui.Components.Forms

<link href="styles/forms/LoginForm.css"
      rel="stylesheet"
      type="text/css"
/>

<EditForm Model="@Credentials"
          OnValidSubmit="Submit"
          FormName="loginForm"
>
    <h3>Lira</h3>

    @* <LoginInput Type="@InputTypes.Text" *@
    @*             Id="username" *@
    @*             Placeholder="Username" *@
    @*             Value="@Credentials.Username" *@
    @* /> *@

    <InputText type="@InputTypes.Text"
               id="username"
               placeholder="Username"
               @bind-Value="@Credentials.Username"
               required
    />

    <InputText type="@InputTypes.Password"
               id="password"
               placeholder="Password"
               @bind-Value="@Credentials.Password"
               required
    />

    @* <LoginInput Type="@InputTypes.Password" *@
    @*             Id="password" *@
    @*             Placeholder="Password" *@
    @*             Value="@Credentials.Password" *@
    @* /> *@

    <ConfirmButton Text="Login"
                   Type="@InputTypes.Submit"
    />

    <img src="img/logo.svg"
         alt="Logo"
         class="logo"
    />
</EditForm>
